.homeBanner{
    padding: 150px;
    background-color:#0f6fc5;
    margin-top: 100px;;
}

.bannerTitle{
    color:#f0903a;
    font-size: 50px;
    align-items: center;
 
    
}
.bannerImage{
    margin-top: -20px;
    color:white;
    font-size: 80px;
    align-items: top;
}
.bannerImage:first{
    margin-left: 250px;

}

.title{
    color:white;
    font-size: 20px;
}

.seperator{
    width: 100px;
    height: 5px;
    color: white;
}