.announcements{
    
   margin-left: 20%;
    width: 80%;
    height: 200px !important;
    margin-bottom: 50px;
}
.announcements .card{
    height: 200px;
    padding-bottom: 2px;
   
}
.announcements .card:active{
   border: 2px solid black;
}
.announcements .card-text{
    align-items: left;
}
