.footer{
    padding: 5%;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1px;
}

.footer h3{
    color: #0F6FC8;
   
}
.footer h4{
    color:#455A64;
}
.footer a{
    font-size: 20px;
   
    padding: 4% 2% 4% 0;
    text-decoration: none;
}

.footerBanner{
    background-color: #f28033;
    height: 150px;
    margin-top: 50px;
    color: white;
    text-align: center;
    padding-top: 80px;
}