#loginForm{
    margin-top: -500px;
    margin-left: 60%;
    width: 35%;
    opacity: 0.95;
  
    
    
}

#loginForm .input-group{
    width: 90%;
}

.loginTitle{
    padding-top: 10px;;
}

.loginLabel{
    font-size: 20px;
    padding: 2px;
}
.form-control{
   width: 10px;
    background-color: rgb(249, 249, 249);
}
#loginContent{
    height: 350px;
    padding-left: 30px;
   
}
#loginBtn{
    width: 100px;
    align-items: center;
    height: 50px;
    font-size: 20px;
}
.card{
   width: 100%;
    margin: 50px;
    margin-left: 10px;
}



